<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Clinic_Id</th>
            <th>Clinic_name</th>
            <th>Doctor_name</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Postal_Code</th>
            <th>Phone_Number</th>
            <th>Email_Id</th>
        </tr>
        {% for res in result %}
        <tr>

            <td>{{res.Clinic_ID}}</td>
            <td>{{res.Clinic_name}}</td>
            <td>{{res.Doctor_name}}</td>
            <td>{{res.longitute}}</td>
            <td>{{res.Latitude}}</td>
            <td>{{res.Postal_Code}}</td>
            <td>{{res.Phone_Number}}</td>
            <td>{{res.email_ID}}</td>
        
        </tr>
        {% endfor %}
    </table>
    
</body>
</html> -->

